.body {
    width: 50%;
    height: 100%;
    
}
html{
    background-color: gray;
    margin: 10px;
}

#description {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 200px;
    height: 100px;

    background-color: orange;
    color: white;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
} 
th, td {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #9DC5DB;
}
tr:nth-child(1){
    background-color: #dddddd;
}


.results{
    width: 50%;
    margin:auto;
}
.wrapper{
    font-family: arial, sans-serif;
}
#shoppingCart {
    position: fixed;
    right: 0;
    top: 0;

    width: 200px;

    background-color: grey;
    color: white;

}
.errormsg{
    font-family:arial, sans-serif;
    width: 50%;
    margin: auto;
    background-color: red;
}
.cart{
    font-family:arial, sans-serif;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin: auto;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.returnbutton{
    width: 10%;
    font-weight:bolder;
    margin:auto;
}
a{
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
a:hover{
    background-color: gray;
}
.title{
    width: 30%;
    padding-top: 10px;
    font-weight:bolder;
    margin:auto;
}
.contents{
    width: 30%;
    padding-top: 10px;
    margin:auto;
    background-color: #9DC5DB;
}
.subButton{
    padding: 10px;
    padding-right: 20px;
    padding-left:20px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    background-color: #9DC5DB;
    border-radius: 8px;
}

.pageTitle{
    font-family:arial, sans-serif;
    font-weight:bolder;
    font-size: 25px;
}
.mainPageDiv{
    background-color: white;
    width: 70%;
    margin:auto;
    border-radius: 8px;
    padding:10px;
    
}